
.gear {
  min-height: 100vh;
  background-color: #161616;
  color: white;
  &__container {
    padding: 50px 5%;
  }
  &__live {
    position: relative;
    width: 100%;
    height: 35vw;
    &--detail {
      margin-top: 30px;
    }
    &--img1 {
      width: 50%;
      position: absolute;
      left: 0;
      img {
        object-fit: cover;
        width: 100%;
        height: 35vw;
      }
    }
    &--img2 {
      width: 50%;
      position: absolute;
      right: 0;
      img {
        object-fit: cover;
        width: 100%;
        height: 35vw;
      }
    }
  }
  &__maple {
    position: relative;
    width: 100%;
    height: 35vw;
    &--detail {
      margin-top: 30px;
    }
    &--img1 {
      width: 50%;
      position: absolute;
      left: 0;
      img {
        object-fit: cover;
        width: 100%;
        height: 35vw;
      }
    }
    &--img2 {
      width: 50%;
      position: absolute;
      top: 0;
      right: 0;
      img {
        object-fit: cover;
        width: 100%;
        height: 35vw;
      }
    }
  }
  &__others {
    margin-top: 30px;
  }
}
