
.information {
  min-height: 100vh;
  background-color: #161616;
  &__container {
    padding: 20px 5%;
  }  
  &__year {
    float:right;
    background-color: #161616;
  }
  &__content {
    margin-top: 80px;
    &--comp {
      color: white;
      border-radius: 5px;
      padding: 15px;
    }
  }
}

.information__data {
  background-color: #161616;
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  transition: .3s;
  box-shadow: 0.5px 0.5px 1px 1px gray;
  @media (min-width: 960px) {
    &:hover {
      background-color: gray;
      color: black;
    }
  }
  &--date, &--place {
    font-size: 0.7rem;
    font-weight: bold;
  }
  &--title {
    margin-top: 0.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &--detail, &--member, &--charge {
    font-size: 0.7rem;
    line-height: 1.2rem;
    white-space: pre-wrap;
  }
}
