
.profile {
  min-height: 100vh;
  background-color: #161616;
  &__container {
    color: white; 
    padding: 50px 5%;
  }
  &__img {
    width: 100%;
    @media (min-width: 960px){
      width: 50%;
    }
  }
  &__name {
    margin-top: 20px;
  }
  &__birth {
    margin-top: 20px;
  }
  &__detail {
    margin-top: 20px;
  }
}
